apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend-container
        image: testingkyaw/my-python-app:v2
        ports:
        - containerPort: 8000
        env:
        - name: FLASK_DEBUG
          value: "1"
        - name: FLASK_APP
          value: "run.py"
        - name: DATABASE_URL
          value: "postgresql://postgres:Cisco123@ciscobase.cds1wi0qiwop.us-east-1.rds.amazonaws.com:5432/app"
        - name: SECRET_KEY
          value: "your-secret-key-here"
        - name: DB_HOST
          value: "ciscobase.cds1wi0qiwop.us-east-1.rds.amazonaws.com"
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: "app"
        - name: DB_USERNAME
          value: "postgres"
        - name: DB_PASSWORD
          value: "Cisco123"
        - name: ALLOWED_ORIGINS
          value: "http://localhost:3000,http://localhost:80"
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
    name: http